.container-body {
    display: grid;
    background-color: #ffffff;
}

#cabecalho {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(137, 130, 42);
}

.img-container {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

.h2-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#listas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#licoes {
    color: rgb(40, 39, 17);
}

#licoes_p_aprender {
    color: rgb(40, 39, 17);
}

.link-linkedin {}

#depoimento-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#rodape {
    border: 5px solid rgb(245, 245, 245);
}