.body {
    background-color: rgb(239, 223, 255);
    /* 1. Adicione uma cor de fundo na página. */
    border: 5px solid black;
}

.header {
    border: 5px solid rgb(226, 19, 19);
}

.cabecalho {
    /* 2. Adicione uma barra superior com um título */
    /* border: 5px solid green; */
    background-color: rgb(123, 169, 255);
    text-align: center;
    color: blanchedalmond;
}

.footer {
    text-align: center;
    border: 5px solid goldenrod;
}

.minha_img {
    border: 5px solid rgb(20, 15, 2);
    padding: 15px;
}

.minhas_listas {
    border: 5px solid rgb(19, 226, 98);
}